* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    width: 80%;
    max-width: 1770px;

    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

#atalhos {
    width: 590px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 105px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbar nav ul li a:hover {
    text-decoration: underline;
}

.user-icon {
   width: 25px;
}

.banner {
    align-items: center;
}

.banner img {
    width: 98%;
    height: auto;
}

#info, #about, #features {
    height: 385px;
    padding: 40px 0px;

    /* overflow: hidden; */
    
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}

.info-text, .about-text, .features-text {
    padding: 20px;
    width: 680px;
}

.info-text p, .features-text p, .about-text p {
    font-size: 18px;
    color: #fff;
}

#about, #features {
    margin-top: 160px;
}

#info {
    background-color: #F18E2C;
    color: #fff;
    margin-top: 80px;
}

#info img, #features img, #about img{
    object-fit: fill;

    transition: transform 300ms;
}

#info img:hover, #features img:hover, #about img:hover{
    transform: scale(1.05);
}

#about {
    background-color: #F18E2C;
    color: #fff;
}

#features {
    background-color: #F18E2C;
    color: #fff;
    margin-bottom: 155px;
}

.about-text h2 {
    font-size: 24px;
    color: #fff;
}

footer {
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #183153;
}

.footer-logo {
    font-size: 24px;
    color: #fff;
    margin-left: 200px;
}
.social-icons {
    margin-right: 200px;
}

.social-icons svg{
    fill: #fff;
    width: 24px;
    height: 24px;
    margin-left: 50px;
}
